:root {
  --btn-primary: hsl(231, 69%, 60%);
  --btn-secondary: hsl(0, 94%, 66%);
  --body-color: hsl(0, 0%, 97%);
  --header-color: hsl(229, 31%, 21%);
  --body-text: hsl(0, 0%, 38%);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-color);
}

p {
  font-size: 1.6rem;
}

li,
a {
  font-size: 1.8rem;
}
.home-page {
  height: 100vh;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 2.5rem;
  position: relative;
  margin-bottom: 4rem;
}

.nav__list {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: hsla(229, 31%, 21%, 1);
  backdrop-filter: blur(10px);
  color: var(--body-text);
  top: 9.5rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

li {
  list-style: none;
}

.home-img {
  width: 100%;
}

.home-content {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-heading {
  color: var(--header-color);
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.home-body {
  color: var(--body-text);
  line-height: 1.6;
  margin-bottom: 4rem;
}

.home-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 10rem;
}

.btn {
  display: block;
  width: 100%;
  border: none;
  padding: 1.5rem 0.5rem;
  font-size: 1.6rem;
  white-space: nowrap;
  border-radius: 0.8rem;
  box-shadow: 0px 5px 5px 0px rgba(196, 182, 182, 0.75);
}

.btn-primary {
  background-color: var(--btn-primary);
  color: white;
}

.btn-secondary {
  color: var(--header-color);
}

.features-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center;
}

.feature-img {
  width: 100%;
}

.feature-heading {
  color: var(--header-color);
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.feature-body {
  color: var(--body-text);
  line-height: 1.6;
  margin-bottom: 4rem;
  font-weight: 400;
}

.feature-header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  width: 100%;
  border-collapse: collapse;
}

.feature-name {
  color: var(--header-color);
  font-size: 2.2rem;
  border: 1px solid lightgray;
  border-left: 0;
  border-right: 0;
  padding: 2rem 0;
}

.feature-name:nth-child(1),
.feature-name:nth-child(2) {
  border-bottom: none;
}

/* .feature-header-container .active-feature {
  border-bottom: 2px solid var(--btn-secondary);
  border-bottom-width: 2px;
} */

.feature-header-container .active-feature {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.feature-header-container .active-feature::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 65%;
  height: 5px;
  background-color: var(--btn-secondary);
}

.feature-img {
  margin: 4rem 0;
}

.full-header {
  font-size: 2.2rem;
  color: var(--header-color);
  margin-bottom: 2rem;
}

.full-body {
  color: var(--body-text);
  line-height: 1.6;
  margin-bottom: 4rem;
  font-weight: 400;
}

.download-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.download-header {
  color: var(--header-color);
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.download-body {
  color: var(--body-text);
  line-height: 1.6;
  margin-bottom: 6rem;
  font-weight: 400;
}

.card-container {
  width: 100%;
}

.download-card {
  box-shadow: 0px 10px 10px 0px rgba(196, 182, 182, 0.75);
  width: 100%;
  margin-bottom: 4rem;
  padding: 6rem 3rem 3rem;
  background: url(images/bg-dots.svg);
  background-repeat: no-repeat;
  background-position: 0px 290px;
  background-size: auto;
  border-radius: 1rem;
}

.card-header {
  color: var(--header-color);
  font-size: 2.2rem;
  font-weight: 500;
  margin: 3rem 0 1.5rem;
}

.card-version {
  color: var(--body-text);
  margin-bottom: 7rem;
}
