:root {
  --btn-primary: hsl(231, 69%, 60%);
  --btn-secondary: hsl(0, 94%, 66%);
  --body-color: hsl(0, 0%, 97%);
  --header-color: hsl(229, 31%, 21%);
  --body-text: hsl(0, 1%, 40%);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.35s;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-color);
}

p {
  font-size: 1.6rem;
}

.home-page {
  height: 100vh;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 2.5rem;
  position: relative;
  margin-bottom: 4rem;
}

.nav__list {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: hsla(229, 31%, 21%, 0.8);
  color: var(--body-text);
  top: 9.5rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5rem;
  display: none;
}

.nav__item {
  text-decoration: none;
  color: var(--body-color);
  border-top: 1px solid gray;
  padding: 1.5rem 0;
  text-transform: uppercase;
  font-size: 1.8rem;
  width: 100%;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.nav__item:nth-child(3) {
  border-bottom: 1px solid grey;
}

.login-link {
  text-transform: uppercase;
  color: var(--body-color);
  border: 2px solid var(--body-color);
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.8rem;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.8rem;
}

.nav__social {
  display: flex;
  gap: 4rem;
  margin-top: 20rem;
}

.home-img {
  width: 100%;
}

.home-content {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-heading {
  color: var(--header-color);
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.home-body {
  color: var(--body-text);
  line-height: 1.6;
  margin-bottom: 4rem;
}

.home-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 10rem;
}

.btn {
  display: block;
  width: 100%;
  border: none;
  padding: 1.5rem 0.5rem;
  font-size: 1.6rem;
  white-space: nowrap;
  border-radius: 0.8rem;
  box-shadow: 0px 5px 5px 0px rgba(196, 182, 182, 0.75);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: white;
}

.btn-secondary {
  color: var(--header-color);
}

.features-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center;
  margin-top: 8rem;
}

.feature-img {
  width: 100%;
}

.feature-heading {
  color: var(--header-color);
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.feature-body {
  color: var(--body-text);
  line-height: 1.6;
  margin-bottom: 4rem;
  font-weight: 400;
}

.feature-header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  width: 100%;
  border-collapse: collapse;
}

.feature-name {
  color: var(--header-color);
  font-size: 2.2rem;
  border: 1px solid lightgray;
  border-left: 0;
  border-right: 0;
  padding: 2rem 0;
}

.feature-name:nth-child(1),
.feature-name:nth-child(2) {
  border-bottom: none;
}

.feature-header-container .active-feature {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.feature-header-container .active-feature::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 65%;
  height: 5px;
  background-color: var(--btn-secondary);
}

.feature-img {
  margin: 4rem 0;
}

.full-header {
  font-size: 2.2rem;
  color: var(--header-color);
  margin-bottom: 2rem;
}

.full-body {
  color: var(--body-text);
  line-height: 1.6;
  margin-bottom: 4rem;
  font-weight: 400;
}

.download-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.download-header {
  color: var(--header-color);
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.download-body {
  color: var(--body-text);
  line-height: 1.6;
  margin-bottom: 6rem;
  font-weight: 400;
}

.card-container {
  width: 100%;
}

.download-card {
  box-shadow: 0px 10px 10px 0px rgba(196, 182, 182, 0.75);
  width: 100%;
  margin-bottom: 4rem;
  padding: 6rem 3rem 3rem;
  background: url(images/bg-dots.svg);
  background-repeat: no-repeat;
  background-position: 0px 290px;
  background-size: cover;
  border-radius: 1rem;
}

.card-header {
  color: var(--header-color);
  font-size: 2.2rem;
  font-weight: 500;
  margin: 3rem 0 1.5rem;
}

.card-version {
  color: var(--body-text);
  margin-bottom: 7rem;
}

.faq-page {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.faq-header {
  font-size: 2.5rem;
  color: var(--header-color);
}

.faq-body {
  color: var(--body-text);
  line-height: 1.6;
  margin: 2rem 0 6rem;
  font-weight: 400;
}

article {
  border-bottom: 0.1rem solid var(--body-text);
  margin-bottom: 2rem;
  text-align: left;
}

.accordion-container {
  margin-bottom: 2rem;
}

.acordion-answer {
  color: var(--body-text);
  line-height: 1.6;
  margin-bottom: 6rem;
  font-weight: 400;
  margin-bottom: 2rem;
  font-weight: 400;
  display: none;
}

.active .acordion-answer {
  display: block;
}

.accordion-question {
  color: var(--header-color);
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  white-space: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-question:hover {
  opacity: 0.8;
}

.accordion-question::after {
  content: url(images/icon-arrow.svg);
}

.faq-btn {
  width: auto;
  padding: 2rem 2.5rem;
}

.contact-page {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--btn-primary);
}

.contact-email {
  padding: 1.5rem 3rem;
  width: 100%;
  border: none;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  font-weight: lighter;
  outline: none;
}

.btn-contact {
  background-color: var(--btn-secondary);
  color: var(--body-color);
  margin: 2rem 0 4rem;
}

.contact-join {
  color: var(--body-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.contact-header {
  font-size: 2.2rem;
  color: var(--body-color);
  margin-bottom: 4rem;
}

.contact-page .btn {
  box-shadow: none;
}

.footer {
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  margin: 3rem 0 4rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item {
  text-align: center;
  color: var(--body-color);
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
}

.footer-socials {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 8rem;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    padding: 0;
    padding-top: 1rem;
  }

  .nav__ham {
    display: none;
  }

  .nav__list {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: auto;
    gap: 4rem;
    margin: 0;
    width: auto;
  }

  .nav__item {
    border: none;
    color: var(--header-color);
    width: auto;
    font-size: 1.6rem;
  }

  .nav__item:nth-child(3) {
    border: none;
  }

  .login-link {
    color: var(--body-color);
    background-color: var(--btn-secondary);
    border: none;
    width: auto;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-top: 0;
    border: 2px solid var(--btn-secondary);
    cursor: pointer;
  }

  .nav__social {
    display: none;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12rem;
    text-align: left;
    height: 90vh;
    margin-top: 4rem;
  }

  .home-content {
    align-items: flex-start;
    text-align: left;
    width: 45%;
    padding: 0;
  }

  .home-main {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
  }

  .home-img {
    width: 45%;
    order: 2;
  }

  .home-heading {
    font-size: 4rem;
  }

  .home-btn {
    justify-content: flex-start;
  }

  .btn {
    width: auto;
    padding: 1.5rem 3rem;
  }

  .features-page {
    flex-direction: column;
    width: 100%;
    padding: 8rem 4rem;
  }

  .all-accordion {
    width: 100%;
  }

  .feature-header-container {
    flex-direction: row;
    justify-content: center;
    border: none;
  }

  .feature-name {
    border: none;
    border-bottom: 3px solid transparent;
    margin: 0 2rem;
    font-size: 2rem;
    cursor: pointer;
  }

  .feature-header-container .active-feature::after {
    width: 100%;
  }

  .feature-img {
    width: 45%;
  }

  .feature-body,
  .full-body,
  .download-body {
    margin: 0 40rem;
  }

  .faq-description {
    text-align: center;
    margin: 0 20rem;
  }

  .card-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  .download-card {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .faq-page {
    width: 60%;
    margin: 0 auto;
    text-align: left;
  }

  .contact-page {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .btn-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .btn-contact,
  .contact-email {
    margin: 0;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    width: 100%;
  }

  .footer-list {
    flex-direction: row;
    gap: 4rem;
  }

  .footer-item,
  .footer-socials,
  .footer-logo {
    margin: 0;
  }

  .nav__item:hover {
    color: var(--btn-secondary);
  }

  .login-link:hover {
    background-color: transparent;
    border: 2px solid var(--btn-secondary);
    color: var(--btn-secondary);
  }

  .btn-chrome {
    border: 2px solid var(--btn-primary);
  }

  .btn-chrome:hover {
    border: 2px solid var(--btn-primary);
    background-color: transparent;
    color: var(--btn-primary);
  }

  .btn-fire {
    border: 2px solid var(--body-color);
    background-color: var(--body-color);
  }

  .btn-fire:hover {
    border: 2px solid var(--header-color);
    background-color: transparent;
    color: var(--header-color);
  }

  .feature-name:hover,
  .footer-item:hover,
  .accordion-question:hover,
  .social:hover {
    color: var(--btn-secondary);
    cursor: pointer;
  }

  .card-btn {
    border: 2px solid var(--btn-primary);
  }

  .card-btn:hover {
    background-color: transparent;
    color: var(--btn-primary);
  }

  .btn-contact {
    border: 1px solid var(--btn-secondary);
  }
  .btn-contact:hover {
    background-color: var(--body-color);
    color: var(--btn-secondary);
  }
}
